<header class="header">
    <div class="header__left">
        <img src="Vetline-Photoroom.png" alt="Vetline Logo" class="header__logo" routerLink="/inicio">
        <nav class="header__nav">
            <a routerLink="/inicio" class="header__link">Tienda</a>
        </nav>
    </div>
    <div class="header__right">

        <div class="header__cart-container">
            @if (isLoggedIn && cartCount > 0) {
            <i class="bi bi-cart2 header__cart-icon" routerLink="/carrito"></i>

            <span class="header__cart-badge">{{ cartCount }}</span>
            }
        </div>
        @if (isLoggedIn) {
        <i class="bi bi-box-arrow-right header__exit-icon" (click)="onLogout()"></i>
        }@else {
        <div class="header__login-container--iniciar-sesion">
            <a routerLink="/login"><i class="bi bi-person-circle"></i> Iniciar sesión</a>
        </div>
        }
    </div>
</header>